body{
  margin:0;
  height:100vh;
  background:black;
  color:white;
  display:flex;
  justify-content:center;   /* Centra horizontal */
  align-items:center;        /* Centra vertical */
  font-family:Arial;
  text-align:center;
}

